:root {
    --color-accent: #DA4646;
    --color-background: #FEFEFE;
    --color-text: #12151D;
    --color-hover: #C13838;
    --color-card: #FEF2F5;
    --color-border: #FFF8FA;
}

body {
    background-color: var(--color-background);
}

body>* {
    justify-content: center;
}

body,
a {
    color: var(--color-text);
}

a.nav-links.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-accent);
}

a.nav-links::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--color-accent);
    transition: width 0.3s;
}

a.nav-links:hover::after {
    width: 100%;
}

p {
    text-align: start;
}

nav {
    position: relative;
    display: flex !important;
    align-items: center !important;
    margin: 0 12.5%;
    justify-content: center;
}

.nav-first,
.nav-last {
    position: absolute;
}

.nav-first {
    margin-left: 12.5%;
    left: 0;
}

.nav-last {
    margin-right: 12.5%;
    right: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 1em;
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: underline;
    text-decoration-color: var(--color-hover);
}

.underline-stroke {
    padding: 30px 0 8px;
    position: relative;
}

.underline-stroke::before {
    content: "";
    position: absolute;
    left: 7%;
    bottom: 2px;
    width: 110px;
    height: 9px;
    transform: skew(-12deg) translateX(-7%);
    background: var(--color-accent);
    z-index: -1;
}

button {
    background-color: var(--color-accent);
    border: none;
    color: var(--color-background);
    padding: 10px 22px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}

button:hover {
    background-color: var(--color-hover);
}

.card {
    display: inline-block;
    height: 100%;
    background-color: var(--color-card);
    border-radius: 25px;
    border: 2px solid var(--color-border);
    padding: 1em;
}

.stats {
    display: flex;
    flex-direction: column;
}

.stats>* {
    margin: 0.5em auto;
}

.stats>input {
    width: 10em;
}

.equipment-types {
    display: flex;
    flex-direction: column;
}

select {
    background-color: var(--color-background);
}

.results {
    margin-top: 2em;
    width: 60vw;
}

.results>h2 {
    text-align: center;
    font-size: 32px;
}

input[type="search"] {
    position: absolute;
    z-index: 2;
    top: 32%;
    width: 40%;
    height: 4em;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content {
    margin-top: 2.5em;
}

.banner {
    width: 100%;
    background-color: var(--color-accent);
    margin: 0;
    height: 15em;
}

.banner>* {
    color: var(--color-background);
    margin-left: 30%;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 5%;
}

.banner h2 {
    font-size: 20px;
    font-weight: 600;
}

.text-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.compendium-entry {
    background-color: var(--color-background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    max-width: 15em;
    min-height: 20em;
}

.category-block {
    background-color: var(--color-accent);
    color: var(--color-background);
    font-size: 12px;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
}

.expanded-entry {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1000;
    backdrop-filter: blur(5px);
}