:root {
    --color-accent: #426696;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(47, 214, 203);
    background: linear-gradient(90deg, rgba(47, 214, 203, 1) 0%, rgba(59, 222, 255, 1) 100%);
}

h1, .welcome span {
    color: var(--color-accent);
    font-weight: 600;
    font-size: 2.5rem;
    opacity: 0.8;
}

.content {
    min-height: 100vh;
}

.welcome {
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(rgba(255 255 255 / 0.7), rgba(255 255 255 / 0.3));
    border-radius: 2rem;
}

.welcome p {
    text-align: center;
    font-size: 1rem;
    color: white;

}